$dark0: #222;
$light0: #eee;

$gray0: #666;
$gray1: #aaa;
$gray2: #ccc;

$ltext-color: #111;
$dtext-color: #efefef;

$red0: #e05050;
$red1: #dd8080;
$green0: #47c047;
$green1: #85ff85;

$blue0: #0076C0;
$blue1: #67a3ca;

$sig0: #c1d2f1;
$sig1: #8b99b3;

@mixin horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
@mixin vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

@mixin dark {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 700px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin trans($property, $duration) {
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration;
    -o-transition: $property $duration;
    transition: $property $duration;
}


@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'sans-serif';
    -webkit-appearance: none;
}

html, body {
    background-color: $light0;
}
* {
    color: $ltext-color;
    margin: 0;
    padding: 0;
}
@include dark {
    html, body {
        background-color: $dark0;
    }
    * {
        color: $dtext-color;
    }
}

a {
    text-decoration: none;
    color: $blue0;
    @include dark() {
        color: $blue1;
    }
    &:hover {
        text-decoration: underline;
    }
}


div#root {
    margin: 20px;
}

div.page-header {
    @include horizontal-flex();
    align-items: flex-end;
    margin: 10px 20px;
    width: 50%;
    margin: auto;
    h1 {
        font-size: 1.6em;
        a {
            color: $ltext-color;
            @include dark() {
                color: $dtext-color;
            }
            text-decoration: none;
        }
    }
    .ctrls {
        @include horizontal-flex();
        a {
            color: $gray0;
            @include dark {
                color: $gray2;
            }
        }
    }

    @include mobile {
        h1 {
            font-size: 1.2em;
        }
        .ctrls a {
            font-size: .8em;
        }
    }
}

hr {
    margin: 10px auto;
    width: 80%;
}

input, button.norm, label.btn {
    width: 100%;
    padding: 15px 30px;
    outline: none;
    border: 1px solid $gray2;
    background-color: transparent;
    border-radius: 100px;
    margin: 1px;
    box-sizing: border-box;
    font-size: .9em;
    min-width: -moz-fit-content;
    min-width: fit-content;
    @include dark {
        border-color: $gray0;
    }

    &:hover {
        border-color: $sig1;
    }
    &:focus {
        border: 2px solid $sig0;
        margin: 0;
    }
}
input.large, button.large {
    font-size: 1.2em;
}
input.small, button.small, label.small {
    font-size: 1em;
    padding: 10px 20px;
    width: -moz-fit-content;
    width: fit-content;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=file] {
    display: none;
}
div.field {
    width: 100%;
    div.button-set {
        @include horizontal-flex();
        gap: 10px;
    }
}
button.square {
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    @include trans(background-color, .5s);
    :hover, :focus {
        background-color: #0003;
        @include dark() {
            background-color: #fff3;
        }
    }
}
textarea {
    background-color: transparent;
    padding: 10px;
    border: 1px solid $gray2;
    resize: none;
    outline: none;
    border-radius: 10px;
    margin: 1px 1px;
    width: 80%;
    height: 200px;
    font-size: 1em;
    @include dark() {
        border-color: $gray0;
    }
    &:hover {
        border-color: $sig1;
    }
    &:focus {
        border: 2px solid $sig0;
        margin: 0;
    }
}
fieldset {
    width: 100%;
    border: none;
    label {
        margin: 0 0 10px 20px;
        font-size: 1.1em;
    }
    input {
        margin: 11px 1px 1px 1px;
        &:focus {
            margin: 10px 0 0 0;
        }
    }
    p {
        margin: 5px 0 0 10px;
        font-size: 0.8em;
        color: $red0;
        @include dark {
            color: $red1;
        }
    }
    
}
button {
    width: -moz-fit-content;
    font-weight: 500;
    width: fit-content;
}

div.common-section {
    width: 50%;
    margin: auto;

    h1 {
        margin-bottom: 20px;
    }
    p {
        margin: 5px 0;
        line-height: 25px;
    }

    @include tablet() {
        width: 80%;
        h1 {
            font-size: 1.5em;
        }
    }
    @include mobile() {
        width: 90%;
    }
    hr {
        width: 100% !important;
    }
}